      <tr id=tr_task_<%=@task.id%>>
        <td>
          <%= form_for @task, :remote => true do |f| %>
          <%= f.check_box :is_done %>
          <% end %>
        </td>
        <td> 
          <div id=task_show_<%=@task.id%>>
            <%= render 'tasks/task_for_index'%>
          </div>
        </td>
        <td>
          <%=  link_to 'Edit', edit_task_path(@task), :remote => true%> |
          <%= link_to 'Destroy', @task, confirm: 'Are you sure?', method: :delete, :remote => true %>
        </td>
      </tr>
